/* *** Start Footer Section *** */
.footer {
    background-color: $mainColor;
    padding-top: 2.5rem;
    color: #eee;
    .foot-img {
    	img {
    		max-width: 100%;
    		width: 10.625rem;
    		height: auto;
    	}
    }
    h4 {
    	margin-bottom: .75rem;
    }
    a {
    	color: #ccc;
    }
    .foot-contact {
    	.follow {
    		h4 {
    			margin-top: .625rem;
    		}
    		ul {
    			overflow: hidden;
    			li {
	    			float: $floatLeft;
	    			margin-right: 0.3125rem;
	    			font-size: 1.5rem;
	    		}
    		}
    	}
    }
    .dev-bar {
    	background-color: #1b2330;
    	text-align: center;
    	margin-top: 1rem;
    	padding: .5rem 0;
    	font-size: 1.125rem;
    }
}
/* *** End Footer Section *** */