$siteLang: Arabic;

$mainColor: #9b4399; //b548a2
$secondColor: #ffd500 ; //#f9e80a; 
$logoColor: #198843;

$headingColor: #323232; //#143848

$floatLeft: left;
$floatRight: right;

$backgroundColor: #f7f7f7;
$pColor: #646464;

$btnColor: #00a53c;
$borderColor: #dee2e6;

/* @if $siteLang == Arabic {
    $floatLeft: right;
    $floatRight: left;
} */